*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #250057;
}
.input-box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
   

}
input{
    height: 30px;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 30px;
}
img{
    cursor: pointer;
    width: 40px;
}